	/deep/.uni-scroll-view::-webkit-scrollbar {
			/* 隐藏滚动条，但依旧具备可以滚动的功能 */
			display: none
		}
	.tab-items {
		border-top: 1px solid #E6EAF2;
		height: 90rpx;
		white-space: nowrap;
		width: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.tab-item {
	    padding: 0 30rpx;
	    font-size: 15px;
	    color: #3c4a55;
	    position: relative;
	    display: inline-block;
	    height: 90rpx;
	    line-height: 90rpx;
		background: #fff;
	}
	.tab-item .tab-item-active {
		padding-bottom: 5rpx;
		border-bottom: 3px solid #2CC17B;
	}
	/*tips*/
	.content-tips {
		background: #fff;
		width: calc(100% - 30rpx);
		padding: 44rpx 0 0 30rpx;
		font-size: 14px;
	}
	.content-tip {
		display: inline-block;
		color: #8891a7;
		border: 1px solid #D3D8E6;
		border-radius: 30rpx;
		padding: 14rpx 16rpx;
		margin: 0 24rpx 28rpx 0;
	}