
/* 评价 开始 */
	.commentTotal {
		padding: 15px 10px 5px;
		background: #fff;
		font-size: 15px;
	}
	.commentCount {
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		color: #333740;
	}
	.commentCount-right {
		color: #a4a9b2;
		font-size: 14px;
	}
	.totalStar {
		color: #333740;
		font-size: 15px;
	}
	.totalStar-left {
		float: left;
	}
	.totalStar-left text {
		font-size: 60px;
		margin-right: 20rpx;
	}
	.totalStar-right {
		padding-top: 11px;
		margin-left: 120px;
		position: relative;
	}
	.totalStar-right-star {
		height: 42px;
		width: 40px;
		background-image: url(../../../static/images/starRate.png);
		background-size: 100% 100%;
		display: inline-block;
		float: left;
	} 
	/* 进度条 */
	.totalStar-right-stripes {
		margin-left: 44px;
		margin-top: 2px;
	}
	.yunBoxProgBar {
		width: 100%;
		height: 2px;
		background: #e6eaf2;
		border-radius: 1px;
		margin-bottom: 7px;
	}
	.yunBoxProgBarOver {
		top: 0;
		left: 0;
		height: 2px;
		border-radius: 1px;
		background: #a4a9b2;   
	}
	/* 评论区 */
	.comments-item {
		width: 100%;
		background: #fff;
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
	.comments-item-head {
	    width: 76rpx;
	    height: 76rpx;
	    padding: 40rpx 20rpx 20rpx;
		display: inline-block;
	}
	.comments-item-head image {
		width: 72rpx;
		height: 72rpx;
		border-radius: 50%;
	}
	.comments-item-main {
		padding: 40rpx 20rpx 40rpx 0;
		min-height: 92rpx;
		font-size: 16px;
		width: calc(100% - 152rpx);
		display: inline-block;
	}
	.comments-item-main-line {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 12rpx;
	}
	.line-name {
		font-size: 16px;
		color:#70788C;
	}
	.line-rate {
		position: relative;
		top: 10rpx;
	}
	.line-small {
		font-size: 12px;
		color: #A4A9B2;
	}
	.reply {
		background: #f2f4f7;
		border-radius: 3px;
		font-size: 14px;
		padding: 15px 10px;
		margin-top: 15px;
		position: relative;
	}
	.reply-break {
		top: -10px;
		left: 17px;
		border-left: 7px solid #fff;
		border-right: 7px solid #fff;
		border-bottom: 10px solid #f2f4f7;
		position: absolute;
	}
	.reply-title {
		color: #36B378;
	}
	.reply-time {
		font-size: 12px;
		margin-left: 14rpx;
	}
	.reply-body {
		margin-top: 12rpx;
		color: #70788C;
	}
/* 评价 结束 */