.set-wap {
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	padding: 20rpx 5% 0;
	background-size: 100% 100%;
	bottom: 0;
	top: 0;
}
	.set-wap-top {
		height: 75%;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	.set-wap-top-main {
		width: 100%;
		text-align: center;
	}
	.set-wap-top-main .main-image {
		height: 180rpx;
		width: 180rpx;
		max-width: 57%;
		margin: 0 auto 60rpx;
	}
	.set-wap-top-main .main-btn {
		border: 1px solid #2CC17B;
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
		height: 88rpx;
		line-height: 88rpx;
		margin-top: 40rpx;
		border-radius: 6rpx;
		text-align: center;
		font-size: 15px;
	}
	.btn-green{
		background: #2CC17B;
		color: #fff;
	}
	.btn-white{
		background: none;
		color: #2CC17B;
	}
	.btn-hover{
		background: #fff;
		color: #22c32e;
		border: 1px solid #2CC17B;
	}

.set-wap-bottom {
	height: 320rpx;
}
	.bottom-title{
		width: 80%;
		margin: 0 auto 40rpx;
		display: flex ;
	}
	.bottom-title-text  {
		color: #A4A9B2;
		padding: 0 40rpx;
		font-size: 13px;
	}
	.bottom-title .line {
		height: 1px;
		background: #A4A9B2;
		flex: 1;
        margin-top: 8px;
		width: calc( 50% - 10% - 40rpx );
	}
	.bottom-icons {
		justify-content: center;
		align-items: center;
	}
	.bottom-icon {
		width: calc( 100% / 3 );
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		line-height: 1;
	}
	.bottom-icon-o {
		height: 168rpx;
        width: 168rpx;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #3C4A55;
		margin-bottom: 10rpx;
		transform: scale(0.5,0.5) translateY(-84rpx);
	}
	.bottom-icon-t {
		color: #3C4A55;
        font-size: 12px;
		transform: translateY(-84rpx);
	}
	.bottom-icons button {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		line-height: 1;
	}
	.bottom-icon:after{
		border: none; 
		background: none;
	}