
	.none{
		padding-top: 140rpx;
		text-align: center;
	}
	.none text{
		font-size: 28rpx;
		color: #99a4bf;
		margin: 24rpx 0 80rpx;
		display: inline-block;
		width: 100%;
	}
	.none .none-btn{
		height: 90rpx;
		width: 380rpx;
		border-radius: 5rpx;
		font-size: 30rpx;
		background: #2cc17b;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.none image{
		width: 38%;
	}

	.wrap{
		height: 100vh;
		/* overflow: hidden; */
		
		background-color: #f2f4f7;
	}


	.bottom{
		text-align: center;
		line-height: 80rpx;
		font-size: 24rpx;
		color: #99a4bf;
	}
/* 进度条 */
	.yunBoxProg {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.yunBoxProgText {
		color: #2cc17b;
		font-size: 13px;
		margin-bottom: 15rpx;
	}
	.yunBoxProgBar {
		height: 3px;
		width: 444rpx;
		background: #d3d8e6;
	}
	.yunBoxProgBarOver {
		background:  #2cc17b;
		height: 3px;
	}
	.yunBoxBtn {
			height: 48rpx;
			width: 200rpx;
			color: #2cc17b;
			text-decoration: none;
			font-size: 14px;
			display: inline-block;
			border: 1rpx solid #2cc17b;
			border-radius: 200rpx;
			text-align: center;
			line-height: 48rpx;
			margin-top: 20rpx;
	}