.page {
	font: 12px/1.14 "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}
/* 视频开始 */
.player,
.player video{
	width: 100vw;
	height: 422rpx;
}
/* 视频 结束 */

/* 内容 */
.text-balck {
	color: #3C4A55;
}
.text-grey {
	color: #70788C;
}
.courseintrohead {
	padding: 36rpx 4% 28rpx 4%;
	background: #fff;
}
.courseintrohead-title {
   padding-bottom: 8rpx;
   border-bottom: 1px solid #e6eaf2;
}
.courseintrohead-title .title-name {
	font-size: 18px;
}
.courseintrohead-title .title-other {
	margin: 9rpx 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 12px
}
.title-other-star {
	margin-top: 8rpx;
}
.title-other-full {
	flex: 1;
	padding: 20rpx;
}
.title-other-tip {
	 color: #70B6F8;
	 border: 1px solid #70B6F8;
	 padding: 4rpx;
	 line-height: 1;
	 margin-top: -6rpx;
	 margin-left: 24rpx;
}
/* 价格区 开始 */
.courseintrohead-price {
	margin: 30rpx 0 0 0;
	/* border-bottom: 1px solid #e6eaf2; */
}
.courseintrohead-price .nprice {
	display: inline-block;
	font-size: 20px;
}
.courseintrohead-price .priceMain {
	display:flex;
	flex-direction: row;
	align-items: center;
}
.courseintrohead-price .yuan {
	font-size: 12px;
}
.courseintrohead-price .nprice-tip {
	display: inline-block;
	border: 1px solid #ff632a;
	color: #ff632a;
	margin-right: 8rpx;
	padding: 6rpx;
	margin-left: 30rpx;
	font-size: 24rpx;
}
.courseintrohead-price .oprice {
	margin: 20rpx 0;
	text-decoration: line-through;
}
/* 价格区 结束 */
/* 优惠区 开始 */
.contentbox{
	width: 100%;
	background: #fff;
}
.youhuicontent {
    padding: 24rpx 0 0 0;
	padding: 24rpx 24rpx 4% 0;
	margin-left: 4%;
	border-top: 1px solid #E6EAF2;
	height: 38rpx;
	line-height: 38rpx;
	font-size: 28rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.youhui-tip {
	font-size: 16px;
	color: #FF4400;
}
.youhui-full {
	flex: 1;
	padding: 30rpx;
}
.youhui-arrow {
	font-size: 12px;
	color: #70788C;
}
/* 优惠区 结束 */
/* 富文本介绍 开始*/
.courseintro {
	margin-top: 20rpx;
}
.courseintrobody {
	margin: 0 4%;
}
.courseintrobody-title {
	font-size: 15px;
	padding-top: 40rpx;
	padding-bottom: 17rpx;
	line-height: 42rpx;
	font-weight: bold;
}
.courseintrobody-main {
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6eae5;
    word-break: break-all;	
}
/* 富文本介绍 结束*/
/* 老师 和 网校 开始 */
.courseteacher {
	margin: 0 4%;
}
.courseteacher-main {
	margin-top: 10rpx;
}
.courseteacher-main-top {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.courseteacher-main-top .top-headpic {
    width: 96rpx;
    height: 96rpx;
    border-radius: 50%;
    background-color: #99A4BF;	
}
.courseteacher-main-top .top-name {
    font-size: 15px;
    color: #666;	
	margin-left: 36rpx;
}
.courseteacher-main-detail {
	padding-bottom: 40rpx;
	padding-left: 134rpx;
	font-size: 14px;
}
/* 老师 和 网校 结束 */

/* 目录 开始 */
.listTitile {
	padding: 16px 4%;
    background-color: #f7f9fc;
	font-size: 15px;
	color: #333;
}
.dirList {
	padding: 0 4%;
    box-sizing: border-box;
    border-bottom: 1px solid #ebeff7;
	background: #fff;
}
.dirList-content {
	padding: 17px 0;
	color: #333333;
	display: flex;
}
.dirList-content-icon {
	border: 1px solid #3C4A55;
	width: 56rpx;
	height: 32rpx;
	margin-right: 18rpx;
	line-height: 32rpx;
	border-radius: 5rpx;
}
.dirList-content-title {
	font-size: 15px;
	flex: 1;
}
.dirList-content-add {
	color: #2cc17b;
	font-size: 12px;
	margin-left: 10rpx;
}

/* 目录 结束 */

/* 评价 开始 */
.commentTotal {
    padding: 15px 10px 5px;
	background: #fff;
	font-size: 15px;
}
.commentCount {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	color: #333740;
}
.commentCount-right {
	color: #a4a9b2;
	font-size: 14px;
}
/* 评价 结束 */

/* 底部固定栏 */
.underBar {
	position: fixed;
	bottom: 0;
	height: 97rpx;
	width: 100%;
	background: #fff;
	padding: 14rpx 16rpx;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* justify-content: space-between; */
	border-top: 1px solid rgba(221, 221, 221, 0.4);
}
.underBar-left {
	width: 160rpx;
	height: 100%;
	font-size: 18px;
	color: #3C4A55;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-top: 10rpx;
}
.underBar-left text {
	font-size: 12px;
	padding-bottom: 10rpx;
}
.underBar-right {
	width: calc(100% - 160rpx - 32rpx);
	height: 100%;
	border-radius: 400rpx;
	background: #FF632A;
	font-size: 15px;
	color: #fff;
	display: flex;
	/* flex: 1; */
	justify-content: center;
	align-items: center;
}