.page {
		font: 12px/1.14 "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
	}
	/* 视频开始 */
		.player,
		.player video{
			width: 100vw;
			height: 422rpx;
		}
	/* 视频 结束 */
	
	/* 底部固定栏 */
		.underBar {
			height: 126rpx;
			width: calc( 100% - 32rpx);
			background: #fff;
			padding: 0 16rpx;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			border-top: 1px solid #f1f1f1;
		}
		.underBar-left {
			width: 160rpx;
			height: 96rpx;
			font-size: 18px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			padding-top: 10rpx;
		}
			.underBar-left text {
				font-size: 12px;
				padding-bottom: 10rpx;
			}
		.underBar-right {
			height: 96rpx;
			border-radius: 400rpx;
			background: #FF632A;
			font-size: 15px;
			color: #fff;
			display: flex;
			flex: 1;
			justify-content: center;
			align-items: center;
		}
/* 优惠券弹出层 开始 */
	.couponsPopup {
		background: #fff;
		width: 100%;
		max-height: 50vh;
		overflow-y: auto;
		font-size: 14px;
		color: #666;
	}
		.couponsList {
			border-bottom: 10rpx solid #f6f6f6;
		}
		.couponsList:last-child,
		.coupon-item:last-child{
			 border-bottom: none;
		}
		.list-line {
			width: 100%;
			height: 12rpx;
			background: #F6F6F6;
		}
			.coupons-type {
				padding: 20rpx;
				border-bottom: 1px solid #f1f1f1;
			}
			.coupon-item {
				 padding: 28rpx 20rpx;
				 display: flex;
				 flex-direction: column;
				 border-bottom: 1px dashed #ddd;
			}
				.item-amount {
					color: #FF4400;
					font-size: 16px;
					margin-right: 10rpx;
				}
				.item-firstline {
					margin-bottom: 20rpx;
					display: flex;
					justify-content: space-between;
					height: 40rpx;
				}
				.item-btn {
					width: 100rpx;
					height: 52rpx;
					line-height: 52rpx;
					border: 1px solid #FF6600;
					border-radius: 2px;
					font-size: 12px;
					text-align: center;
					margin-top: -12rpx;
				}
				.item-other {
					margin-bottom: 10rpx;
				}
				.item-other:last-child {
					margin-bottom: 0;
				}
/* 优惠券弹出层 结束 */